.dub
docs.json
__dummy.html
docs/
/sdl3-d-example
sdl3-d-example.so
sdl3-d-example.dylib
sdl3-d-example.dll
libsdl3-d-example.a
sdl3-d-example.a
sdl3-d-example.lib
sdl3-d-example-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
